---
import CanvasContainer from '../components/CanvasContainer.astro'
import Layout from '../components/Layout.astro'
import Link from '../components/Link.astro'

---

<Layout title="Chenflix">
  <main>
    <CanvasContainer/>
      <img class="overlay-image" src='images/chenflix.png' alt="Logo" />
    <Link class="link" href="https://www.boilerexams.com" target="_blank" rel="noopener noreferrer">By Boilerexams</Link>
  </main>
</Layout>

<style lang="scss">
  main {
    width: 100%;
    height: 100%;
    background-color: #000; /* Add this line */
  }
  .link {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
  }

  .overlay-image {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
</style>
