---
import ClassEvent from '../components/classEvent.astro'
import chen from '../../public/images/chenflix.png'
// import MyComponent from '../components/slider'
---

<html>
  <head>
    <title></title>
    <link rel="icon" type="image/svg+xml" href="images/capyFav.png" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  </head>

  <body class="bg-black text-white">
    <div class="mx-auto w-1/3 pt-4">
      <a href="/">
        <img src={chen.src} alt="Logo" />
      </a>
    </div>

    <div class="flex flex-col items-center">
      <div class="mb-2 text-3xl">
        <h1>MA 16100 Spring 2022</h1>
      </div>
      <button color="success" id="reverseButton" class="text-2xl hover:text-red-600"><i class="fa-solid fa-arrows-rotate" id="icon"></i></button>
    </div>

    <div id="classEventContainer" class="relative flex h-auto flex-col items-center justify-center gap-3">
      <ClassEvent
        weekday="Mon"
        description="Lesson 0 (1.1 Review of Functions and 1.2 Representing Functions)"
        date="1/10"
        notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%200%20%281.1,%201.2%29.pdf"
        videos = "https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_9p8gxlsg"
      />
      <ClassEvent
        weekday="Wed"
        description="Lesson 1 (1.3 Exponential and Logarithmic Functions)"
        date="1/12"
        notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%201%20%281.3%29.pdf"
        videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_r0t6y7pn"
      />
      <ClassEvent
        weekday="Fri"
        description="Lesson 2 (1.4 Trigonometric Functions and Their Inverses)"
        date="1/14"
        notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%202%20%281.4%29.pdf"
        videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_0y7pj55p"
      />      
      <ClassEvent
        weekday="Mon"
        description="Martin Luther King Jr. Day--No Class"
        date="1/17"
        notes=""
        videos=""
      />      
      <ClassEvent
          weekday="Wed"
          description="Lesson 3 (2.1: The Idea of Limits and 2.2 Definition of Limits)"
          date="1/19"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%203%20%282.1+2.2%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_8ysqm23m"
      />
      <ClassEvent
          weekday="Fri"
          description="Lesson 4 (2.3 Techniques for Computing Limits)"
          date="1/21"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%204%20%282.3%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_2r3xrnmw"
      />
      <ClassEvent
          weekday="Mon"
          description="Lesson 5 (2.4 Infinite Limits)"
          date="1/24"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%205%20%282.4%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_nqdbon20"
      />
      <ClassEvent
          weekday="Wed"
          description="Lesson 6 (2.5 Limits at Infinity)"
          date="1/26"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%206%20%282.5%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_0xj7a2al"
      />
      <ClassEvent
          weekday="Fri"
          description="Lesson 7 (2.6 Continuity)"
          date="1/28"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%207%20%282.6%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_5m8vi1rr"
      />
      <ClassEvent
          weekday="Mon"
          description="Exam 1 Review"
          date="1/31"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Exam%201%20Review.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_a4jnpeu3"
      />
      
      <ClassEvent
          weekday="Tue"
          description="Exam 1"
          date="2/1"
          notes=""
          videos=""
      />
      
      <ClassEvent
          weekday="Wed"
          description="Lesson 8 (3.1 Introducing the Derivative)"
          date="2/2"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%208%20%283.1%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_worroizy"
      />
      
      <ClassEvent
          weekday="Fri"
          description="No class (compensation for evening exam)"
          date="2/4"
          notes=""
          videos=""
      />
      
      <ClassEvent
          weekday="Mon"
          description="Lesson 9 (3.2 The Derivative as a Function)"
          date="2/7"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%209%20%283.2%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_b3wi6okj"
      />
      
      <ClassEvent
          weekday="Wed"
          description="Lesson 10 (3.3 Rules of Differentiation)"
          date="2/9"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2010%20%283.3%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_c87cy0ad"
      />
      
      <ClassEvent
          weekday="Fri"
          description="Lesson 11 (3.4 The Product and Quotient Rules)"
          date="2/11"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2011%20%283.4%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_dc0ooiiz"
      />
      
      <ClassEvent
          weekday="Mon"
          description="Lesson 12 (3.5 Derivatives of Trigonometric Functions)"
          date="2/14"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2012%20%283.5%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_pxdkw50c"
      />
      
      <ClassEvent
          weekday="Wed"
          description="Lesson 13 (3.6 Derivatives as Rates of Change and 3.7 The Chain Rule, part 1)"
          date="2/16"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2013%20%283.6+3.7-1%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_uhcx9y2r"
      />
      
      <ClassEvent
          weekday="Fri"
          description="Lesson 14 (3.7 The Chain Rule, part 2)"
          date="2/18"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2014%20%283.7-2%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_v6ugufio"
      />
      <ClassEvent
          weekday="Mon"
          description="Lesson 15 (3.8 Implicit Differentiation)"
          date="2/21"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2015%20%283.8%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_fpqobgq1"
      />
      
      <ClassEvent
          weekday="Wed"
          description="Lesson 16 (3.9 Derivatives of Logarithmic and Exponential Functions)"
          date="2/23"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2016%20%283.9%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_6i9tmqx9"
      />
      
      <ClassEvent
          weekday="Fri"
          description="Lesson 17 (3.10 Derivatives of Inverse Trigonometric Functions)"
          date="2/25"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2017%20%283.10%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_ek1tcnxl"
      />
      
      <ClassEvent
          weekday="Mon"
          description="Exam 2 Review"
          date="2/28"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Exam%202%20Review.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_bksv2s6n"
      />
      
      <ClassEvent
          weekday="Tue"
          description="Exam 2"
          date="3/1"
          notes=""
          videos=""
      />
      
      <ClassEvent
          weekday="Wed"
          description="Lesson 18 (3.11 Related Rates, part 1)"
          date="3/2"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2018%20%283.11-1%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_7t81asr9"
      />
      
      <ClassEvent
          weekday="Fri"
          description="Lesson 19 (3.11 Related Rates, part 2)"
          date="3/4"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2019%20%283.11-2%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_rowwv8ue"
      />
      
      <ClassEvent
          weekday="Mon"
          description="Lesson 20 (4.1 Maxima and Minima)"
          date="3/7"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2020%20%284.1%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_rnpzqx6i"
      />
      
      <ClassEvent
          weekday="Wed"
          description="Lesson 21 (4.2 The Mean Value Theorem and 4.3 What Derivatives Tell us, part 1)"
          date="3/9"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2021%20%284.2+4.3-1%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_m0niu6r1"
      />
      
      <ClassEvent
          weekday="Fri"
          description="No class (compensation for evening exam)"
          date="3/11"
          notes=""
          videos=""
      />
      
      <ClassEvent
          weekday="Mon"
          description="Spring Break--No Class"
          date="3/14"
          notes=""
          videos=""
      />
      
      <ClassEvent
          weekday="Wed"
          description="Spring Break--No Class"
          date="3/16"
          notes=""
          videos=""
      />
      
      <ClassEvent
          weekday="Fri"
          description="Spring Break--No Class"
          date="3/18"
          notes=""
          videos=""
      />
            
      <ClassEvent
          weekday="Mon"
          description="Lesson 22 (4.3 What Derivatives Tell us, part 2)"
          date="3/21"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2022%20%284.3-2%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_od1k1r6a"
      />
  
      <ClassEvent
          weekday="Wed"
          description="Lesson 23 (4.4 Graphing Functions, part 1)"
          date="3/23"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2023%20%284.4-1%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_uwqgk89i"
      />
      <ClassEvent
          weekday="Fri"
          description="Lesson 24 (4.4 Graphing Functions, part 2)"
          date="3/25"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2024%20%284.4-2%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_020q6j6r"
      />
      <ClassEvent
          weekday="Mon"
          description="Lesson 25 (4.5 Optimization Problems, part 1)"
          date="3/28"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2025%20%284.5-1%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_qrnk39jb"
      />
      <ClassEvent
          weekday="Wed"
          description="Lesson 26 (4.5 Optimization Problems, part 2)"
          date="3/30"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2026%20%284.5-2%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_vakqp0ms"
      />
      <ClassEvent
          weekday="Fri"
          description="Lesson 27 (4.6 Linear Approximation)"
          date="4/1"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2027%20%284.6%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_d0yz894p"
      />
      <ClassEvent
          weekday="Mon"
          description="Lesson 28 (4.7 l'Hospital's Rule)"
          date="4/4"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2028%20%284.7%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_g0hpau07"
      />
      <ClassEvent
          weekday="Wed"
          description="Lesson 29 (4.9 Antiderivatives)"
          date="4/6"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2029%20%284.9%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_pa6qrdot"
      />
      <ClassEvent
          weekday="Fri"
          description="Lesson 30 (5.1 Approximating Areas Under Curves)"
          date="4/8"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2030%20%285.1%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_r97imn5o"
      />
      <ClassEvent
          weekday="Mon"
          description="Exam 3 Review"
          date="4/11"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Exam%203%20Review.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_zcc7rlum"
      />

      <ClassEvent
          weekday="Wed"
          description="Lesson 31 (5.2 Definite Integrals)"
          date="4/13"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2031%20%285.2%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_5usec61j"
      />

      <ClassEvent
          weekday="Fri"
          description="Lesson 32 (5.3 Fundamental Theorem of Calculus)"
          date="4/15"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2032%20%285.3%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_7p4y3gx8"
      />

      <ClassEvent
          weekday="Mon"
          description="Lesson 33 (5.4 + 5.5-1 Working with Integrals and Substitution Rule)"
          date="4/18"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2033%20%285.4+5.5-1%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_sy3yz8v5"
      />

      <ClassEvent
          weekday="Wed"
          description="Lesson 34 (5.5-2 Substitution Rule, part 2)"
          date="4/20"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2034%20%285.5-2%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_og8ykibn"
      />

      <ClassEvent
          weekday="Fri"
          description="Lesson 35 (7.2 Exponential Growth and Decay)"
          date="4/22"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Lesson%2035%20%287.2%29.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_ls3fstln"
      />

      <ClassEvent
          weekday="Mon"
          description="Final Exam Review (part 1)"
          date="4/25"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Final%20Review%201.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_l54j7fop"
      />

      <ClassEvent
          weekday="Wed"
          description="Final Exam Review (part 2)"
          date="4/27"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Final%20Review%202.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_2v5jurxl"
      />

      <ClassEvent
          weekday="Fri"
          description="Final Exam Review (part 3)"
          date="4/29"
          notes="https://www.math.purdue.edu/~chenjk/MA161S22/Final%20Review%203.pdf"
          videos="https://mediaspace.itap.purdue.edu/media/Spring+2022+-+MA161+-+Chen/1_9j01e1jg"
      />

      

    </div>
  </body>
</html>

<script>
  const button = document.getElementById('reverseButton')
  const icon = document.getElementById('icon')
  const container = document.getElementById('classEventContainer')
  let isSpinning = false

  if (button && container && icon) {
    button.addEventListener('click', function () {
      Array.from(container.children)
        .reverse()
        .forEach((child) => container.appendChild(child))

      // Add or remove the spin animation
      if (isSpinning) {
        icon.classList.remove('fa-spin')
        icon.classList.add('fa-spin-reverse')
      }
      // else {
      //   icon.classList.remove('fa-spin-reverse');
      //   icon.classList.add('fa-spin');
      // }

      isSpinning = !isSpinning

      setTimeout(function () {
        icon.classList.remove('fa-spin')
        icon.classList.remove('fa-spin-reverse')
      }, 1050)
    })
  }
</script>

<style>
  .fa-spin-reverse {
    animation-direction: reverse;
  }
</style>

<style lang="scss">
  body {
    font-family: 'Poppins', sans-serif;
  }
</style>
