---
import ClassEvent from '../components/classEvent.astro'
import chen from '../../public/images/chenflix.png'
// import MyComponent from '../components/slider'


---
<html>
<head>
  <title></title>
  <link rel="icon" type="image/svg+xml" href="images/capyFav.png" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
 

</head>

<body>

    <div>
      <a href="/">
        <img class="overlay-image" src={chen.src} alt="Logo" />
      </a>
    </div>


    <div class="button-container">
      <div class="title-container">
        <h1>MA 26100 Fall 2021</h1>
      </div>
      <p>Coming Soon!</p>
      <!-- <button color="success" id="reverseButton" ><i class="fa-solid fa-arrows-rotate" id="icon"></i></button> -->
    </div>

    <!-- <MyComponent/> --> 
    
    <!-- <div class="flex-wrapper"> -->
    <div class = "card__image" >

      <div id="classEventContainer" class="class-event-container">


        <!-- <ClassEvent weekday = 'Mon' description = 'Course Introduction' date = '8/21'
        notes = 'https://www.math.purdue.edu/~chenjk/MA162F23/MA%2016200%20Fall%202023%20Introduction.pdf'
        /> -->

      </div>
    <!-- </div> -->
  
  </div>
</body>
</html>

<script>
  const button = document.getElementById('reverseButton');
  const icon = document.getElementById('icon');
  const container = document.getElementById('classEventContainer');
  let isSpinning = false;

  if (button && container && icon) {
    button.addEventListener('click', function() {
      Array.from(container.children).reverse().forEach(child => container.appendChild(child));
      
      // Add or remove the spin animation
      if (isSpinning) {
        icon.classList.remove('fa-spin');
        icon.classList.add('fa-spin-reverse');
      } 
      // else {
      //   icon.classList.remove('fa-spin-reverse');
      //   icon.classList.add('fa-spin');
      // }
      
      isSpinning = !isSpinning;
      
    
      setTimeout(function() {
        icon.classList.remove('fa-spin');
        icon.classList.remove('fa-spin-reverse');
      }, 1050);
    });
  }
</script>




<style>
  .fa-spin-reverse {
    animation-direction: reverse;
  }
</style>

<style lang="scss">
.overlay-image {
    position: absolute;
    display: block;
    padding-top: 10%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    
  }

  .card__image {
    position: relative;
    justify-content: center;
    align-items: center;
    height: auto;
    }

    .class-event-container {
      flex-direction: column;
      gap: 1vh;
      padding-top: 1%;
      padding-bottom: 1%;
    }

    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10%;
    }

    .title-container {
      margin-bottom: 0.5rem;
      font-size: 3rem;
    }

    #reverseButton {
      font-size: 2rem;
    }
    
    #reverseButton:hover {
      color: #dc1a28;
    }

    @media (max-width: 1000px) {

      .overlay-image {
        position: absolute;
        padding-top: 25%;
        left: 50%;
        width: 60%;
        // min-width: 50vw;
        transform: translate(-50%, -50%);

      }

      .title-container {
        padding-top: 20%;
        margin-bottom: 0.5rem;
        font-size: 3rem;
      }
      #reverseButton {
        font-size: 3rem;
      }


      }
              
  </style>