---
import {CourseCard} from "./icons"
// import ma261 from 'images/ma26100.svg'
// import { myFunction } from '../classes/icons.ts'

---


<div class="flex justify-between items-center h-screen px-16">
    <div class ="flex flex-col items-center max-w-sm min-w-sm w-1/10 sm:w-1/10 md:w-1/6 lg:w-1/8">
        <CourseCard  semesterLink = {'/ma161'} courseAbbreviation="ma16100" courseName = "MA 16100" courseDescr = "Plane Analytic Geometry And Calculus I"/>
        <CourseCard  semesterLink= {'/ma162'} courseAbbreviation="ma16200" courseName = "MA 16200" courseDescr = "Plane Analytic Geometry And Calculus II"/>
        <CourseCard  semesterLink = {'/ma261'} courseAbbreviation="ma26100" courseName = "MA 26100" courseDescr = "Multivariate Calculus"/>
    </div>

    <div class = "flex flex-col items-center max-w-sm min-w-sm w-1/10 sm:w-1/10 md:w-1/6 lg:w-1/8">
        <CourseCard  semesterLink = {'/ma265'} courseAbbreviation="ma26500" courseName = "MA 26500" courseDescr = "Linear Algebra"/>
        <CourseCard  semesterLink = {'/ma266'} courseAbbreviation="ma26600" courseName = "MA 26600" courseDescr = "Ordinary Differential Equations"/>
        <CourseCard  semesterLink = {'/ma303'} courseAbbreviation="ma30300" courseName = "MA 30300" courseDescr = "Differential Equations And Partial Differential Equations For Engineering And the Sciences"/>
    </div>
    
  </div>

