---
import { CourseCard } from './icons'
// import ma261 from 'images/ma26100.svg'
// import { myFunction } from '../classes/icons.ts'
---

<div class="flex min-h-screen items-center justify-between px-16 pt-20 sm:pt-0">
  <div class="hidden flex-col items-center sm:flex sm:w-1/3 md:w-1/4 lg:w-1/5 xl:w-1/6">
    <CourseCard semesterLink={'/ma161'} courseAbbreviation="ma16100" courseName="MA 16100" courseDescr="Plane Analytic Geometry And Calculus I" />
    <CourseCard semesterLink={'/ma162'} courseAbbreviation="ma16200" courseName="MA 16200" courseDescr="Plane Analytic Geometry And Calculus II" />
    <CourseCard semesterLink={'/ma261'} courseAbbreviation="ma26100" courseName="MA 26100" courseDescr="Multivariate Calculus" />
  </div>

  <div class="hidden flex-col items-center sm:flex sm:w-1/3 md:w-1/4 lg:w-1/5 xl:w-1/6">
    <CourseCard semesterLink={'/ma265'} courseAbbreviation="ma26500" courseName="MA 26500" courseDescr="Linear Algebra" />
    <CourseCard semesterLink={'/ma266'} courseAbbreviation="ma26600" courseName="MA 26600" courseDescr="Ordinary Differential Equations" />
    <CourseCard
      semesterLink={'/ma303'}
      courseAbbreviation="ma30300"
      courseName="MA 30300"
      courseDescr="Differential Equations And Partial Differential Equations For Engineering And the Sciences"
    />
  </div>

  <div class="mx-auto flex w-72 flex-col items-center sm:hidden">
    <CourseCard semesterLink={'/ma161'} courseAbbreviation="ma16100" courseName="MA 16100" courseDescr="Plane Analytic Geometry And Calculus I" />
    <CourseCard semesterLink={'/ma162'} courseAbbreviation="ma16200" courseName="MA 16200" courseDescr="Plane Analytic Geometry And Calculus II" />
    <CourseCard semesterLink={'/ma261'} courseAbbreviation="ma26100" courseName="MA 26100" courseDescr="Multivariate Calculus" />
    <CourseCard semesterLink={'/ma265'} courseAbbreviation="ma26500" courseName="MA 26500" courseDescr="Linear Algebra" />
    <CourseCard semesterLink={'/ma266'} courseAbbreviation="ma26600" courseName="MA 26600" courseDescr="Ordinary Differential Equations" />
    <CourseCard
      semesterLink={'/ma303'}
      courseAbbreviation="ma30300"
      courseName="MA 30300"
      courseDescr="Differential Equations And Partial Differential Equations For Engineering And the Sciences"
    />
  </div>
</div>
